
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.logo-font {
  font-family: "Satisfy", cursive;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
}

body {
  background-color: rgb(255, 244, 229);
}